themes {
    omarchy {
        fg "#CDD6F4"
        bg "#1E1E2E"
        black "#43465A"
        red "#F38BA8"
        green "#A6E3A1"
        yellow "#F9E2AF"
        blue "#87B0F9"
        magenta "#F5C2E7"
        cyan "#94E2D5"
        white "#CDD6F4"
        orange "#F9E2AF"
    }
}
